.options { width:860px; margin-top:20px; }
.options-title { background: #FFF; padding: 10px; border: 1px solid #E5E5E5; }
.options-title h1 { font: 500 2em/2.2em Georgia, Helvetica,"Microsoft YaHei"; color: #555; margin: 0; display: block; }
.options-title h1 span { color: #DB2A11; font-family: Tahoma; }
.options-title p { line-height: 30px; font-size: 14px; }
.options-title a { color: #0073AA; text-decoration: none; padding: 5px 15px; border: 1px solid #0073AA; }
.options-title a:hover { background: #0073AA; color: #FFF; }
.options-title > a:hover { background: #FFF; }
.tabPanel ul { color: #FFF; height: 35px; padding-left: 7px; border-bottom: 1px solid #333; }
.tabPanel ul li { float: left; border: 1px solid #333; font: 600 14px/35px 'Î¢ÈíÑÅºÚ'; height: 34px; text-align: center; margin-left: 4px; cursor: pointer; background: #333; padding: 0 25px; }
.tabPanel .hit { border-bottom: 1px solid #00A0D2; cursor: pointer; color: #FFF; background: #00A0D2; }
.panes { background-color: #FCFCFC; padding: 10px; border: 1px solid #E5E5E5; }
.pane { min-height: 380px; display: none; }
.heading { margin: 10px 0px; padding: 7px 0px; border-bottom: 1px solid #E7E7E7; font-size: 15px; }
.section { display: inline-block; }
.controls { float: left; width: 552px; }
.explain { float: left; width: 286px; font-size: 14px; color: #999; }
.option { padding: 5px 0; overflow: hidden; }
.upload { width: 460px; margin-bottom: 8px; }
.submit { float: right; }
.jane_jin, .jane_img { max-width: 330px; max-height: 220px; display: block; margin-bottom: 10px; overflow: hidden; }
.jane_jin img, .jane_img img { max-width: 330px; height: auto; }